/* Universal selector arributes for page border*/
*{padding:0px;
    margin:0px;}

body, html {
    height: 100%;
  }
  
.bg-image {
    /*Background image linked here */
    background-image: url("../images/rainywindow.jpg");
    height: 100%;
    background-color: rgb(91, 113, 133);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;

    /* IMPORTANT Locks the image in place for page content to scroll over */
    background-attachment: fixed;
} 

.title-txt {
    color: white;
    text-align: center;
}

.contact-bar {

}