/* Universal selector arributes for page border*/
*{
    padding:0px;
    margin:0px;
}

body, html {
    height: 100%;
}
  
.bg-image {
    /*Background image linked here */
    background-image: url("../images/rainywindow.jpg");
    background-color: rgb(91, 113, 133);
    /*Found a neat trick for background image adjustment*/
    background-blend-mode: multiply;
    height: 100%;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;

    /* Locks the image in place for page content to scroll over */
    background-attachment: fixed;
} 

.title-txt {
    color: white;
    text-align: center;
    padding-top: 100px;
    padding-bottom: 100px;
}

.pagenav {
    position: fixed;
    right: 50%;
}

.profile-position {
    position: fixed;
    left: 2%;
    top: 10%;
}

.profile-img {
    border-radius: 50%;
}

.transparency {
    /* Background color with alpha channel for transparency */
    background-color: rgba(255,255,255,.5);
    color: #fff;
}

.the-spaces {
    border-radius: 20px;
    margin-left: 5%;
    margin-right: 5%;
    margin-bottom: 5%;
    padding-top: 10%;
    padding-bottom: 10%;
}